@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600;700&display=swap');
  body {
    display: flex;
    flex-direction: column;
    font-family: 'Fira Code', monospace;
    background-color: #FFE4E1;
  }
  
  .linkformtable{
    text-align: center;
  }

  #menu {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color:#80007F;
  }
 
  #menu a {
    color:  #fff;
    display: inline-block;
    font-size: 15px;
  }

  .header {
    display: flex;
    height: 70px;
    text-align: center;
    background: #BC8F9D;
    color: #fff;
  }
  
  a, a:hover{
    text-decoration: none;
    color:#FFE4E1;;
  }

  .header h1{
    display: inline-block;
    font-family: 'Fira Code', monospace;
    font-size: 25px;
    line-height: 65px;
  }
  .form{
    background-color: #DB706E	;
    line-height: 27px;
  }
.error {
	border: 1px solid red;
}
th{
  font-size: 15px;
}
  td {
  background: #F5D7BF;
  }

  footer{
    background-color:#BC8F9D;
    height: 40px;
    text-align: left;
    letter-spacing: 2px;
    font-size: 13px;
  }

  .nch{
    background-color: #FF7F50;
  }

 @media (min-width: 960px){
   body{
     align-items: center;
   }
   #menu {
    flex-direction: row;
  }
  .header{
    display: flex;
  }
  #site{
    font-size: 40px;
  }
  th{
    padding: 10px;
  }
  td{
    padding: 10px;
  }
  footer{
    text-align: left;
    letter-spacing: 2px;
    font-size: 18px;
    align-self: stretch;
  }
  }
@media (min-width: 370px){
  .header h1{
    font-size: 28px;
  }
